/node_modules
/public/storage
/storage/*.key
/vendor
/.idea
server.iml
Homestead.json
Homestead.yaml
.env
*.swp
/docs/
tests-clover.xml
tests-junit.xml
.scannerwork/report-task.txt
.scannerwork/.sonar_lock
/.scannerwork/
/coverage/
/report/
